.svn
RTE_Components.h
*.IAB
*.IAD
*.IMB
*.PFI
*.PO
*.PR
*.PS
*.WK3
*.SearchResults
*.IMD
*.PRI
*.CF3
*.o
*.d
*.d.*
*.bak
*.tmp
*.dep
*~
*.py

*.o

*.hex
*.bin
*.lst
*.map

*.uvguix.*
JLinkLog.txt
*.si4project
*.uvoptx

Objects
Listings
DebugConfig
OBJ
*.crf

*.txt
JLinkSettings.ini
EventRecorderStub.scvd
.vscode
/Project/EWARM/GD32E230
/Project/EWARM/settings
/.history
cmake-build-debug/
cmake-build-debug-docker/
cppcheck.xml
*/Prj/GD32E503/
*/Prj/GD32E230/